ul,li{list-style:none;}
.pushleft{float:left;}
.pushright{float:right;}
.overflow{display:block; overflow:hidden;}
a{color:#777; text-decoration:none; -moz-transition:color 0.3s ease 0s; -webkit-transition:color 0.3s ease 0s; -o-transition:color 0.3s ease 0s; -ms-transition:color 0.3s ease 0s; transition:color 0.3s ease 0s; cursor:pointer;}
a:hover{color:#333;}
.sip-rswc-wrapper{width:100%; min-height:100%; /*margin-bottom:-40px;*/}
.main-container{width:100%; min-height:500px; position:relative;}
.main-container > .page-wrap{margin:25px auto;}
.page-wrap {max-width:980px; margin:0 auto;}
.page-wrap {*zoom:1;}
.page-wrap:before, .page-wrap:after {display:table; line-height: 0; content: "";}
.page-wrap:after {clear: both;}
h1, h2 {font-size:36px; line-height:120%;}
h3 {font-size:30px; line-height:120%;}
h4 {font-size:24px; line-height:120%;}
h5 {font-size:20px; line-height:120%;}
h6 {font-size:18px; line-height:120%;}
/* Textfield */
.field {display:block; width:100%;  color:#333; position:relative;}
.field .textfield, .field textarea.textfield  {box-sizing: border-box; padding:12px 10px; width: 100%;margin: 0;outline: 0;line-height: 1; background:#f7f7f7; border:1px solid #eaeaea; font:16px/120% Calibri, sans-serif; transition:all 0.3s ease 0s; height: initial; resize: vertical;}
.field .textfield:focus {background:#fff; border-color:#b6b6b6;}
/* Textfield */
/*Button*/
.button, [class^="button-"] {float:left; color:#333; border:none; border-radius:3px; padding:5px 20px; cursor:pointer; overflow:visible; min-height:24px; text-align:center; font:400 16px/24px Calibri, sans-serif; background-color:#ebe9eb; transition:background 0.2s ease 0s; text-transform:uppercase; font-weight:bold;}
input.button, input[class^="button-"] {height:34px;}
.button:hover, [class^="button-"]:hover{background:#ddd;}
/*Button*/
.tabs-wrap{display:block; padding:0 15px;}
.nav-tabs{margin:15px 0; width:100%; height:40px; text-align:center;}
.nav-tabs a{display:inline-block; padding:5px 17px; color:#c97180; font-size:16px; text-align:center; position:relative;}
.nav-tabs a:hover, .nav-tabs a.active{text-decoration:none; color:#000;}
.nav-tabs a:hover:before, .nav-tabs a.active:before{display:block;}
.tabs-content{min-height:160px;}
.tabs-content p{color:#333; margin:5px 0;}
.tabs-content .title{font-family:Calibri, sans-serif; font-size:22px; color:#fff;}
.mandatory{color:red;}
.form-control{display:block !important; width:100%; padding:15px 0;}
.name{display:block; padding-bottom:4px; font-size:17px;}
.rating{display:inline-block; padding-left:15px;}
.form-control .fa{padding-right:10px;}
.form-wrap{display:block; overflow:hidden; padding:1.5em; border:1px solid #ccc;}
.commentbox{display:block; overflow:hidden; margin:25px 0;}
.commentbox  p{margin-bottom:25px;}
.commentbox p.author{margin-bottom:0px;}
.comment-borderbox{border: 1px solid #e4e1e3; border-radius: 4px; padding:30px 30px 0; position:relative;}
.thumb{position:absolute; top:47px; left:-40px; width:60px; height:60px; border-radius:50%; padding:3px; border: 1px solid #e4e1e3; overflow:hidden; background:#ebe9eb; border:1px solid #e4e1e3;}
.select-field {float:right; min-height:36px; margin-top:45px;}
.commentbox h2{float:left; margin-right:15px;}
.title-wrap{display:block; width:100%; overflow:hidden; padding-bottom:25px;}
.author{color:#777; display:block; font-size:16px;}
.like-dislike{display:block; width:100%; padding:0 0 25px;}
.like-dislike .fa-flag{float:right;}
.like-dislike  a{padding-right:15px;}
.comment-form{display:block; margin-left:50px;}
#tabs a{float:left; padding-right:5px;}
.tabs-sm{display:table; width:100%; padding:15px 0;}
.tabs .toggle-attachment-source{float:right; position:relative; z-index:2; cursor:pointer;}

/* Font Awesome Rating */
.br-theme-fontawesome-stars .br-widget, .rating-star {height: 28px; position:relative; z-index:1;}
.br-theme-fontawesome-stars .br-widget a, .rating-star {font: normal normal normal 18px/1 FontAwesome;text-rendering: auto;-webkit-font-smoothing: antialiased; text-decoration: none;margin-right: 2px;}
.br-theme-fontawesome-stars .br-widget a:after, .rating-star {content: '\f005';color: #dddddd;}
.br-theme-fontawesome-stars .br-widget a.br-active:after {color: #ffdf88;}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {color: #ffdf88;}
.br-theme-fontawesome-stars .br-widget .br-current-rating {display: none;}
/* Font Awesome Rating */

.show-list{display:block; width:100%; margin:0; padding:0;}
.show-list li{float:left; margin-right:15px; list-style:none;}
.show-list .title-list{font-size:18px;}
.show-all {display:block; width:100%;}
.show-all .main-title{display:block; font-size:20px; margin:0; padding:0;}
.show-all .amount{display:block; padding:15px 0;}
.show-all .rating{padding-left:0;}
.share-wrap{display:block; overflow:hidden; min-height:165px;}
.share-left{float:left; max-width:350px; width:100%; vertical-align:middle; text-align:center;}
.share-right{display:block; overflow:hidden;}
.share-list{display:block; width:100%;}
.share-list li{display:block; overflow:hidden; padding-bottom:20px;}
.big-text{font-size:25px; font-weight:bold; padding-top:45px;}
.sm-text{font-size:20px; padding-top:8px;}
.product-rating-details {display: table-cell;vertical-align: middle;width: 30%;}
.rating-graph{padding: 1px 5px;}
.rating-count, .rating-number {width: 7%;}
.rating-graph .bar {background-color: #ad74a2; display: inline-block; height:15px; vertical-align: middle; width: 1px;}
.product-rating-details{float:right; width:313px;}
.product-rating-details table td {border:none; vertical-align: middle;white-space: nowrap;}
.product-rating-details table tr {border-bottom: 0px dotted #DDD;}
.expandonclick{display:inline-block; padding-left:10px;}
.product-rating-details a{color:#00bcd4;}
.rating-star img{margin-top:2px;}
.rating-count a{text-decoration:underline;}
.rating-count a:hover{text-decoration:none;}
.show-everthing{display:block; overflow:hidden; padding-bottom:25px;}
.product-rating-details table{border: 0px solid #e5e5e5;}
button.sip-rswc-more {font-weight: bold;width: 100%;padding: 10px 0px;text-align: center;font-size: 1.4em;cursor: pointer;}
.sip-rswc-wrapper .product-rating-details table tbody tr td {border: 0px  !important;}
.sip-rswc-wrapper table {border: 0px  !important;}
.show-everthing-sub{padding-left: 50px;}
/*Tablet View*/
@media screen and (max-width: 979px){
  .tabs-content .title{font-size:20px;}
  .product-rating-details{width:100%;}
}

/*Mobile View*/
@media screen and (max-width: 767px){
  .nav-tabs{margin-bottom:20px;}
  .nav-tabs a{width:50px; font-size:14px; padding:5px;}
  .share-left{float:none;}
  .share-right{margin-top:25px;}
  .title-wrap{padding-bottom:55px;}
}